{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}

      <div class="row">
        <div class="col-md-12">
          <h1>Chaquetas de pluma</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">{{category.name}}</li>
          </ol>
        </div>
      </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">Filtros</div>
            <div class="panel-body">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  Hombre
                </label>
                <br>
                <label>
                  <input type="checkbox" value="">
                  Mujer
                </label>
                <br>             
                <label>
                  <input type="checkbox" value="">
                  Niños
                </label>
                <br>
                <label>
                  <input type="checkbox" value="">
                  Niñas
                </label>
              </div>
              <a href="#" class="btn btn-default pull-right">Filtrar</a>
            </div>
          </div>

        </div>
        <div class="col-md-9">
            <div class="row">
              {% for product in products %}
              <div class="col-sm-4">
                  <div class="col-item">
                      <div class="photo">
                          {% thumbnail product.image "350x260" crop="center" as im %}
                              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive" alt="{{product.name}}" >
                          {% endthumbnail %}                          
                      </div>
                      <div class="info">
                          <div class="row">
                              <div class="price col-md-6">
                                  <h5>{{product.name}}</h5>
                                  <h5 class="price-text-color">{{product.price}}</h5>
                              </div>
                              <div class="rating hidden-sm col-md-6">
                                  <i class="price-text-color fa fa-star"></i>
                                  <i class="price-text-color fa fa-star"></i>
                                  <i class="price-text-color fa fa-star"></i>
                                  <i class="price-text-color fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>
                          </d>
                          <div class="separator clear-left">
                              <p class="btn-add">
                                  <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Agregar</a></p>
                              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                Ver
                              </button>

                              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                      <h4 class="modal-title" id="myModalLabel">{{product.name}}</h4>
                                    </div>
                                    <div class="modal-body">

                                    <div class="row"> 
                              
                                    
                                    <div class="col-md-6">

                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <h5 class="price-text-color">Precio: $ {{product.price}}</h5>
                                        <div class="col-md-6">
                                          
                                        
                                        <div class="photo">
                                            {% thumbnail product.brand.image "350x260" crop="center" as im %}
                                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive" alt="{{product.name}}" >
                                            {% endthumbnail %}                          
                                        </div>   
                                        
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                      <div class="photo">
                                          {% thumbnail product.image "350x260" crop="center" as im %}
                                              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive" alt="{{product.name}}" >
                                          {% endthumbnail %}                          
                                      </div>
                                    
                                    </div>

                                    </div>
                                      
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                      <button type="button" class="btn btn-primary">Agregar al carrito</button>
                                    </div>
                                  </div>
                                </div>
                              </div>





                          </div>
                          <div class="clearfix">     </div>
                      </div>
                  </div>
              </div>  
              {% endfor %} 
            </div>

        </div>
      </div>
{% endblock content %}